# Node modules
node_modules/
client/node_modules/
server/node_modules/

# # Build outputs
# client/build/
# server/build/

# Environment files
.env
# .env.*
client/.env
# client/.env.*
server/.env
# server/.env.*

# Cache files
node_modules/.cache/
*.pack

# Yarn & npm package manager specific files
.pnp
.pnp.js

# Test coverage
/coverage

# System files
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
